<ng-container *ngIf="result | async as blogList">
    <h2>Blogs</h2>

    <div class="blog-info" *ngFor="let blog of blogList.blogs">
        <a class="blog-link" [routerLink]="['/blog', blog.blog_id]"
           (mouseover)="checkHover($event, blog)" 
           (mouseleave)="hideInfo()">
            {{ blog.blog_name }}  ({{ blog.item_count }})
        </a>
        <div *ngIf="hoveredBlog === blog" class="hover-info">
            <!-- Add any additional info you want to show on hover -->
            <p> <button (click)="markReadBlog()">mark as read</button> </p>
            <div *ngFor="let item of hoveredItems">
                <p> <a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
            </div>
        </div>
    </div>
</ng-container>
<hr/>

<div>
    <span>items: {{ (result | async)?.items?.length }} </span>
    <button (click)="markRead()">mark as read</button>

</div>
<ng-container *ngIf="result | async as itemList">
    <table>
        <tr>
            <th>published</th>
            <th>blog_name</th>
            <th>post_title</th>
        </tr>
        <tr *ngFor="let item of itemList.items">
            <td>{{ item.published | date: 'yyyy-MM-dd HH:mm' }}</td>
            <td><a [routerLink]="['/blog', item.blog_id]">{{ item.blog_name }}</a></td>
            <td class="item-title" > <a [style.font-weight] =" item.status == 6 ? 'bold' : 'normal'" href="{{ item.post_link }}" target="_blank">{{ item.post_title }}</a></td>
        </tr>
    </table>

</ng-container>
