<div *ngIf="question">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h4>{{question.id}} {{question.questionHead}}</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{question.question}}</pre>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onSkipClick()">skip</button>
            <button mat-button (click)="onShowClick()">show</button>
        </mat-card-actions>

        <mat-card-content *ngIf="show">
            <pre>{{question.answer}}</pre>
            <div *ngFor="let image of question.images">
                <img src="http://localhost:3000/{{image}}" />
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="show">
            <button mat-flat-button color="warn" (click)="onAnswerClick(1)">Forgot</button>
            <button mat-flat-button color="accent" (click)="onAnswerClick(2)">Wrong</button>
            <button mat-flat-button color="primary" (click)="onAnswerClick(3)">Hard</button>
            <button mat-flat-button color="basic" (click)="onAnswerClick(4)">OK</button>
            <button mat-flat-button style="background-color: green; color: white;" (click)="onAnswerClick(5)">Easy</button>
        </mat-card-actions>
    </mat-card>

</div>
<!-- <img src="http://localhost:3000/anki/blink.png" /> -->

<div *ngIf="!question">
    <h4>Question not found</h4>
</div>
