<main>
    <h3>Anki</h3>
    <section>
        <button mat-raised-button (click)="selectedCategory.next(72)">words</button>
        <button mat-raised-button (click)="selectedCategory.next(73)">other</button>
        <button mat-raised-button (click)="selectedCategory.next(92)">emacs</button>
        <button mat-raised-button (click)="selectedCategory.next(83)">bash</button>
    </section>
    <mat-divider></mat-divider>    

    <app-question-detail [question]="selectedQuestion" (skipEvent)="handleSkipEvent()" (answerEvent)="handleAnswerEvent($event)"></app-question-detail>
    <mat-divider></mat-divider>
    <div *ngIf="prevQuestion">
        <div>
            {{ prevQuestion.next }}
        </div>
        <div>
            {{ prevQuestion.days }}
        </div>
    </div>
</main>
