<main>
    <h3>Anki</h3>
    <section>
        <span (click)="selectedCategory.next(72)">words</span>
        <span (click)="selectedCategory.next(73)">other</span>
        <span (click)="selectedCategory.next(92)">emacs</span>
        <span (click)="selectedCategory.next(83)">bash</span>
    </section>
    <section>
        <input type="text" [(ngModel)]="searchValue">
        <input type="date" #dobInput>
        <input type="text" #kokInput>
    </section>
    <section>
    <app-question-detail [question]="selectedQuestion" (skipEvent)="handleSkipEvent()" (answerEvent)="handleAnswerEvent($event)"></app-question-detail>
    </section>
    <hr/>
    <div *ngIf="prevQuestion">
        <div>
            {{ prevQuestion.next }}
        </div>
        <div>
            {{ prevQuestion.days }}
        </div>
    </div>
</main>
