
<h3>{{ blogInfo?.blog?.name }}</h3>

<div>
    last read {{ blogInfo?.last_read  }}
</div>
<div>
    read:
    <button (click)="markRead()">mark as read</button>
</div>
<hr/>
<div>
<input type="text" [(ngModel)]="summarizeLink" placeholder="url">
<button (click)="summarize(summarizeLink)">summarize</button>
</div>
<div id="summary" [innerHTML]="streamingData"></div>

<div *ngFor="let item of blogInfo?.items">
    <!-- <p [style.font-weight]="item.unread ? 'bold' : 'normal'">{{ item.title }}</p> -->
    <div>
        <!-- <span>{{ formatDate(item.published) }}</span> -->
        <span>{{ item.published | date:'medium' }}</span>
        <span> : </span>
        <span [class.bold]="item.unread"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></span>
        <span (click)="summarize(item.link)"> Summarize </span>
    </div>
    
</div>
